<template>
  <div class="modal">
    <form @submit.prevent="submitCode">
      <h1>Opa: {{user.id}}</h1>
      <label>Item ID:</label>
      <input v-model="formData.item_id" type="text" id="item_id" required>
      <label>Código:</label>
      <input v-model="formData.code" type="text" id="code" required>
      <button type="submit">Adicionar Código</button>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import axios from '@/config/axiosConfig.js'
// import VueMultiselect from 'vue-multiselect'
// import ItemsMultiSelect from '@/components/ItemsMultiselect.vue'

export default {
  data () {
    return {
      formData: {
        item_id: '',
        code: '',
        UserId: ''
      }
    }
  },
  components: {
    // ItemsMultiSelect
    // VueMultiselect
  },
  computed: {
    ...mapGetters(['user', 'items'])
  },
  methods: {
    async submitCode () {
      const UserId = 31
      // console.log(this.user.id)
      // const codeUserId = this.user.id
      try {
        const url = `${process.env.VUE_APP_API_URL}/api/my/items/${UserId}/code`
        const response = await axios.post(url, this.formData)
        if (response.status === 201) {
          await this.fetchItemsCodes({ page: 1 })
          this.$notification.emit('flash', { message: 'Código adicionado com sucesso', type: 'success' })
          // Faça algo com a resposta, se necessário
        } else {
          this.$notification.emit('flash', { message: 'Erro ao adicionar o código', type: 'error' })
        }
      } catch (error) {
        this.$notification.emit('flash', { message: 'Erro ao adicionar o código', type: 'error' })
        // Trate o erro conforme necessário
      }
    }
  },
  created () { }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
