<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon_32.png" sizes="32x32" />
    <link rel="icon" href="<%= BASE_URL %>favicon_192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon_180.png" />
    <meta name="msapplication-TileImage" content="<%= BASE_URL %>favicon_270.png" />
    <title>Antares | {specific_title}</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
