<template>
  <div v-if="show" class="modal">
    <section class="popup-detail user summary view">
      <button class="small-btn close" @click="closeModal"></button>
      <div class="title">
        <div class="title-wrap">
          <div class="name-status">
            <h1>ss {{ user.name }}</h1>
            <div class="status-wrap" :class="user.status">
              <div class="status"></div>
              <span>{{ user.status }}</span>
            </div>
          </div>
        </div>
        <ul class="breadcrumb">
          <li>
            <p>{{ user.role }}</p>
          </li>
        </ul>
      </div>

      <div class="user-details details">
        <div class="user-data details-simple">
          <div class="email">
            <p>E-mail</p>
            <span>{{ user.email }}</span>
          </div>
        </div>
      </div>
      <div class="shop-details details">
        <table>
          <tr>
            <th>
              <p>Loja</p>
            </th>
            <th>
              <p>CNPJ</p>
            </th>
          </tr>
          <tr v-for="store in user.stores" v-bind:key="store.id">
            <td><span>{{ store.attributes.name }}</span></td>
            <td><span>{{ store.attributes.cnpj }}</span></td>
          </tr>

        </table>
      </div>
      <div class="pred-details details">
        <div class="pred-data details-flex">
          <div class="price-table">
            <p>Tabela de preços</p>
            <span>{{user.relationships.price.attributes.name}}</span>
          </div>
          <div class="discount">
            <p>Desconto distribuidor ANTARES</p>
            <span>{{ user.discounts.main * 100 }}%</span>
          </div>
        </div>
        <div class="add-discount details-simple">
          <p>Desconto adicional</p>
          <span>{{ user.discounts.current * 100 }}%</span>
        </div>
      </div>
      <div class="button-wrap">
        <button class="main-link tooltip right" @click="sendInvite()">ENVIAR CONVITE
          <span class="tooltip-text">Tem certeza de que deseja enviar o convite via e-mail para este usuário ter acesso à
            plataforma? <span>Essa ação não poderá ser desfeita.</span>
            <div class="arrow"></div>
          </span>
        </button>
        <button class="main-btn edit" @click="$emit('edit')">Editar</button>
      </div>

    </section>
  </div>
</template>

<script>
import axios from '../../config/axiosConfig.js'

export default {
  data () {
    return {
      user: {
        name: '',
        email: '',
        role: '',
        price_list_id: '',
        discounts: {
          main_discount: '',
          current_discount: ''
        },
        stores: []
      }
    }
  },
  props: ['show', 'user_data'],
  watch: {
    show: {
      immediate: true,
      handler (newVal, oldVal) {
        if (newVal !== oldVal && newVal === true) {
          this.fetchUser()
        }
      }
    }
  },
  methods: {
    async fetchUser () {
      try {
        const response = await axios.get(`${process.env.VUE_APP_API_URL}/api/admin/users/${this.user_data.id}`)
        this.user = response.data.data.attributes
        this.user.id = response.data.data.id
        this.user.stores = response.data.data.relationships.stores.data
        this.user.relationships = response.data.data.relationships
      } catch (error) {
        console.error(error)
      }
    },
    closeModal () {
      this.$emit('close')
    },
    sendInvite () {
      axios.post(`${process.env.VUE_APP_API_URL}/api/admin/users/${this.user.id}/mail/invite`)
        .then(response => {
          alert('Convite enviado')
        })
        .catch(error => {
          alert('Erro ao enviar o convite')
          console.log(error)
        })
    }
  }
}
</script>
