<template>
  <div v-if="show" class="modal">
    <div class="popup-detail user data form">
      <button class="close small-btn" @click="closeModal">&times;</button>
      <div class="title">
        <h1>Editar</h1>
        <ul class="breadcrumb">
          <li>
            <p>Colaborador</p>
          </li>
        </ul>
      </div>
      <div v-if="step == 1">
        <form @submit.prevent="submitForm1">
          <div class="user-data-form">
            <form action="">
              <div class="input-flex">
                <div class="input-wrap double">
                  <label for="name">Nome completo</label>
                  <input type="text" id="name" name="name" placeholder="Digite o nome completo" v-model="user.name">
                </div>
                <div class="input-wrap double">
                  <label for="email">E-mail</label>
                  <input type="email" id="email" name="email" placeholder="Digite o E-mail" v-model="user.email">
                </div>
              </div>
              <div class="role-select-wrap custom-select">
                <label for="role-select">Cargo</label>
                <select name="role-select" id="role-select" v-model="user.role">
                  <option value="admin">Administrador</option>
                  <option value="client">Distribuidor</option>
                </select>
              </div>
            </form>
          </div>
          <button class="main-btn confirm-edit">Avançar</button>
        </form>
      </div>

      <div v-if="step == 2">
        Cadastro de loja
        <div class="user-shop-form">

          <form @submit.prevent="saveStore">
            <div class="input-flex">
              <div class="input-wrap double">
                <label>Razão social</label>
                <input type="text" v-model="store.name" name="name" placeholder="name" />
              </div>
              <div class="input-wrap double">
                <label>CNPJ</label>
                <input v-mask="'###.###.###/####-##'" type="text" v-model="store.cnpj" name="cnpj" placeholder="cnpj" />
              </div>
              <div>
                <button class="main-link add-shop">Adicionar</button>
              </div>
            </div>

            <!-- <button>Salvar</button> -->
          </form>
        </div>
        <div class="itens-table">
          <table>
            <tr>
              <th>
                <p>Loja</p>
              </th>
              <th>
                <p>CNPJ</p>
              </th>
            </tr>
            <tr v-for="store in stores" v-bind:key="store.id">
              <td>
                <button class="round-btn delete" @click="removeStoreFromUser(store)"></button>
                <p>{{ store.attributes.name }}</p>
              </td>
              <td>
                <p>{{ store.attributes.cnpj }}</p>
              </td>
            </tr>
          </table>
        </div>
        <button @click="step++" class="main-btn confirm-edit">Próximo</button>
      </div>

      <div v-if="step == 3">
        <div class="user-data-form">
          <form @submit.prevent="saveListPrice">
            <div class="input-flex">
              <div class="price-select-wrap custom-select">
                <label for="price-select">Tabela de preços</label>
                <select v-model="user.price_list_id">
                  <option value="1">Lista de preço 1</option>
                </select>
              </div>
              <div class="discount-select-wrap custom-select">
                <label for="discount-select">Desconto distribuidor ANTARES</label>
                <select name="discount-select" id="discount-select" v-model="user.main_discount">
                  <option value="" disabled selected>Selecione a porcentagem</option>
                  <option value="0.45">45%</option>
                  <option value="0.46">46%</option>
                  <option value="0.47">47%</option>
                </select>
              </div>
            </div>
            <div class="additional-discount-select-wrap custom-select">
              <label for="additional-discount-select">Desconto adicional</label>
              <select name="additional-discount-select" id="additional-discount-select" v-model="user.current_discount">
                <option value="" disabled selected>Selecione a porcentagem</option>
                <option value="0.10">10%</option>
                <option value="0.20">20%</option>
              </select>
            </div>
            <button type="submit" class="main-btn confirm-edit">Salvar</button>
          </form>
        </div>

      </div>

      <div v-if="step == 4">

        -Tabela de preços
        -Desconto adicional
        - Desconto distribuidor
        <button @click="step++">Finalizar</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from '../../config/axiosConfig.js'
import { mapGetters, mapActions } from 'vuex'

export default {
  props: ['show'],
  data () {
    return {
      step: 1,
      createdUser: [],
      stores: [],
      loading: false,
      user: {
        name: '',
        email: '',
        role: '',
        price_list_id: '',
        main_discount: '',
        current_discount: ''
      },
      store: {
        name: '',
        cnpj: ''
      }
    }
  },
  computed: {
    ...mapGetters(['token'])
  },
  methods: {
    ...mapActions(['adminFetchUsers', 'setLoadingState']),
    closeModal () {
      this.$emit('close')
    },
    async submitForm1 () {
      this.setLoadingState(true)
      try {
        const formData = new FormData()
        formData.append('name', this.user.name)
        formData.append('email', this.user.email)
        formData.append('role', this.user.role)
        formData.append('price_list_id', this.user.price_list_id)

        const response = await axios.post(`${process.env.VUE_APP_API_URL}/api/admin/users`, formData, formData)

        this.createdUser = response.data.data
        this.step = 2
      } catch (error) {
        this.$notification.emit('flash', {
          message: 'Ocorreu um erro ao cadastrar o usuário',
          type: 'error'
        })
        console.error(error)
      } finally {
        this.setLoadingState(false)
      }
    },
    async saveStore () {
      this.setLoadingState(true)
      try {
        const formData = new FormData()
        for (const key in this.store) {
          formData.append(key, this.store[key])
        }
        await axios.post(`${process.env.VUE_APP_API_URL}/api/admin/users/${this.createdUser.id}/stores`, formData)
        await this.fetchStores()
        this.store = {}
      } catch (error) {
        console.error(error)
      } finally {
        this.setLoadingState(false)
      }
    },
    async removeStoreFromUser (store) {
      this.setLoadingState(true)
      try {
        await axios.delete(`${process.env.VUE_APP_API_URL}/api/admin/users/${this.createdUser.id}/stores/${store.id}`)
        await this.fetchStores()
      } catch (error) {
        this.$notification.emit('flash', {
          message: 'Ocorreu um erro ao remover a loja do usuário.',
          type: 'error'
        })
      } finally {
        this.setLoadingState(false)
      }
    },
    async saveListPrice () {
      this.setLoadingState(true)
      try {
        const formData = new FormData()
        formData.append('price_list_id', this.user.price_list_id)
        formData.append('main_discount', this.user.main_discount)
        formData.append('current_discount', this.user.current_discount)

        await axios.patch(`${process.env.VUE_APP_API_URL}/api/admin/users/${this.createdUser.id}`, formData)
        await this.adminFetchUsers({ page: this.currentPage })
        this.user = []
        this.$notification.emit('flash', {
          message: 'Usuário cadastrado com sucesso',
          type: 'success'
        })
        this.$emit('close')
      } catch (error) {
        this.$notification.emit('flash', {
          message: 'Ocorreu um erro inesperado',
          type: 'error'
        })
        console.log(error)
      } finally {
        this.setLoadingState(false)
      }
    },
    async fetchStores () {
      this.setLoadingState(true)
      try {
        const response = await axios.get(`${process.env.VUE_APP_API_URL}/api/admin/users/${this.createdUser.id}`)
        this.stores = response.data.data.relationships.stores.data
      } catch (error) {
        this.$notification.emit('flash', {
          message: 'Ocorreu um erro inesperado',
          type: 'error'
        })
      } finally {
        this.setLoadingState(false)
      }
    }
  },

  setup () {

  }
}

</script>
