
.multiselect__tags  {
  background-color: transparent;
}

.multiselect__content-wrapper {
  background-color: black;
}

.multiselect__content {
  background-color: transparent;
}

.multiselect__single {
  background-color: transparent;
}

.multiselect__element {
  background-color: transparent;
}

.multiselect__option {
  background-color: transparent;
}

.multiselect__option--highlight {
  background-color: transparent;
}

.multiselect__option--selected:after,
.multiselect__option--selected:hover:after{
	content: "Adicionado"!important;
}

.multipleSelect {
	padding: 
}

.multipleSelect option{
	padding: 5px;
	margin-bottom: 2px;
	border-radius: 5px;
	cursor: pointer;
}
.multipleSelect option:hover{
	background-color: var(--med-grey-opacity);
}
.multipleSelect option:last-child{
	margin-bottom: 0px;
}

.multipleSelect:focus option:checked,
.multipleSelect option:checked,
.multipleSelect:hover option:checked {
	background-color: var(--yellow);
}

span[data-deselect="Press enter to remove"]{
	display: block;
	/* background-color: red; */
}

