<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
  </div>
  <h1>Usuário deslogado</h1>
</template>

<script>
export default {
  name: 'Home',

  created () {
    this.$router.push('/admin/dashboard')
  }
}
</script>
