<template>
  <section class="popup recoveraccount">
    <div class="logo">
      <div></div>
    </div>
    <div class="title-wrap">
      <h1>Recupere sua conta</h1>
      <p>Agora basta preencher a nova senha nos campos abaixo para poder acessar novamente a plataforma.</p>
    </div>
    <div class="form-password">
      <form action="" id="form-password">
        <div class="input-wrap pass-first">
          <div class="eye-pass" :class="{ show: passwordFieldType === 'text' }" @click="togglePasswordVisibility"></div>
          <label for="password-first">Nova senha</label>
          <input v-model="password" :type="passwordFieldType" class="pass" name="password-first" id="password-first"
            placeholder="Digite a nova senha">
          <div class="pass-strength">
            <div class="pass-status check-one" :class="{ checked: password.length >= 8 }">
              <div></div>
              <p>Pelo menos 8 caracteres</p>
            </div>
            <div class="pass-status check-two" :class="{ checked: /\d/.test(password) }">
              <div></div>
              <p>Pelo menos um numeral</p>
            </div>
            <div class="pass-status check-three" :class="{ checked: /[!@#$%^&*]/.test(password) }">
              <div></div>
              <p>Pelo menos um caractere especial</p>
            </div>
          </div>
        </div>
        <div class="input-wrap">
          <div class="eye-pass" :class="{ show: newPasswordFieldType === 'text' }" @click="toggleNewPasswordVisibility"></div>
          <label for="password-second">Repita a nova senha</label>
          <input v-model="confirmPassword" :type="newPasswordFieldType" class="pass" name="password-second"
            id="password-second" placeholder="Digite novamente a senha">
        </div>
      </form>
    </div>
    <a class="main-btn define" href="" @click.prevent="submitForm">Definir senha</a>
  </section>
  <section class="hidden-content">
    <div class="hidden-content-header">
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="hidden-content-content">
      <div class="hidden-content-content-left">
        <div class="hidden-content-content-left-block">
          <span></span>
          <span></span>
        </div>
        <div class="hidden-content-content-left-block">
          <span></span>
          <span></span>
        </div>
        <div class="hidden-content-content-left-block">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="hidden-content-content-right">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </section>
    <p v-if="message">{{ message }}</p>

</template>

<script>
import axios from '../config/axiosConfig.js'

export default {
  data () {
    return {
      password: '',
      confirmPassword: '',
      message: '',
      passwordFieldType: 'password',
      newPasswordFieldType: 'password'
    }
  },
  methods: {
    validatePassword () {
      const hasEightCharacters = this.password.length >= 8
      const hasNumber = /\d/.test(this.password)
      const hasSpecialCharacter = /[!@#$%^&*]/.test(this.password)

      return hasEightCharacters && hasNumber && hasSpecialCharacter
    },
    submitForm () {
      if (this.password !== this.confirmPassword) {
        this.$notification.emit('flash', {
          message: 'As senhas informadas não coincidem.',
          type: 'error'
        })
        return
      }
      const formData = new FormData()

      formData.append('token', this.$route.query.token)
      formData.append('password', this.password)
      axios.post(`${process.env.VUE_APP_API_URL}/api/auth/recover`, formData, {
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        }
      })
        .then(resp => {
          this.$notification.emit('flash', {
            message: 'Senha alterada com sucesso.',
            type: 'success'
          })
          this.$router.push('/login')
        }).catch(error => {
          this.$notification.emit('flash', {
            message: 'Ocorreu um erro ao redefinir a senha.',
            type: 'error'
          })
          console.log(error)
        })
    },
    togglePasswordVisibility () {
      this.passwordFieldType = (this.passwordFieldType === 'text') ? 'password' : 'text'
    },
    toggleNewPasswordVisibility () {
      this.newPasswordFieldType = (this.newPasswordFieldType === 'text') ? 'password' : 'text'
    }
  }
}
</script>

<style scoped>
.reset-account {
  width: 300px;
  margin: 0 auto;
}

.reset-account h1 {
  text-align: center;
}

.reset-account form {
  display: flex;
  flex-direction: column;
}

.reset-account form label {
  margin-bottom: 10px;
}

.reset-account form input {
  margin-bottom: 20px;
}

.reset-account form button {
  cursor: pointer;
}
</style>
