<template>
  <nav>
    <!-- <span>Olá, {{user.attributes.name}}</span> -->

    <button v-if="isLoggedIn" @click="logout">Logout</button>
  </nav>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['user', 'isLoggedIn'])
  },
  methods: {
    ...mapActions(['logout'])
  }
}
</script>
