<template>
  <div>
    <VueMultiselect
    v-model="selectedOption"
      :options="options"
      :close-on-select="true" :clear-on-select="true" placeholder="Selecione o item" label="name"
      track-by="name"
      @input="updateValue"
    />
  </div>
</template>

<script>
import VueMultiselect from 'vue-multiselect'
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    value: {
      required: true
    }
  },
  data () {
    return {

    }
  },
  components: {
    VueMultiselect
  },
  computed: {
    ...mapGetters(['user']),
    options () {
      return this.user.relationships.stores.data.map(x => { return { id: x.id, name: x.attributes.name, ...x } })
    }
  },
  methods: {
    ...mapActions(['fetchItems', 'setLoadingState']),
    updateValue () {
      this.$emit('update:value', this.selectedOption ? this.selectedOption.id : null)
    }
  },
  created () {
    this.fetchItems({ query: '' })
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>
